body 
{	
	background-color: #FCC706;
	color:#FFFFFF;
	font-family: Arial, helvetica, sans-serif; 			
	background-image: linear-gradient(to bottom, #000000, #FCC706); 
	background-repeat: no-repeat; 
}

h1 
{
  border-bottom: 4px solid red;
  text-align: center;
  font-size: 2.4em;
}​

header 
{
	background-image: url(barbell.jpg);
	background-size: cover;
	background-repeat: no-repeat; 
	background-position: center;
	height: 300px;
	padding-top: 15px; 
}

.nav ul 
{
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li 
{
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a 
{
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover 
{
  background-color: #005f5f;
}
 
.nav a.active 
{
  background-color: #fff;
  color: #444;
  cursor: default;
}

h2
{
	text-align: center;
  	font-size: 1.6em;

}

.center
{
	margin: 0 auto;
	width: 600px;
	display: block;
}

/*nav 
{
	display: block;
	font-weight:bold;
	padding: 20px 5px 0px 20px;
	float: left;
	width: 180px;
}
	
nav ul 
{
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}
	
nav a 
{
	text-decoration:none;padding-right:10px;
}

nav a:link 
{
	color: #000000;
}

nav a:visited 
{
	color: #344873;
}

nav a:hover 
{
	color: #FFFFFF;
	transition: .3s background-color;
}*/
#barbell
{
	background-color:#000000; 
	color:#FFFFFF; 
	background-image: url(barbell.jpg);
	background-size: cover;
	background-repeat: no-repeat; 
	background-position: center;
	height: 160px;
	padding-top: 15px;
}
#wrapper 
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	min-width: 960px;
	max-width: 2048px;
	background-color: transparent;
	box-shadow: 3px 3px 3px #000000;
}

#homehero
{
	height: 300px; 
	margin-left: 150px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

/* For screen res greater than 600px */
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }